.organisms-logos-style1 {
	padding: 100px 0;
	.title {
		margin-bottom: 50px;
	}

	img {
		margin: 20px 50px;
	}	
}
.organisms-logos-style2 {
	padding: 100px 0;
	.title {
		margin-bottom: 20px;
	}
	img {
		margin: 10px 30px;
	}
}