.organisms-newsletter-style1 {
	padding: 100px 15%;
	.title {
		margin-bottom: 20px;
	}

	.text {
		margin-bottom: 20px;
	}
	form {
		margin-top: 50px;
		.input-text {
			width: 350px;
			margin-right: 20px;
		}
	}
}

.organisms-newsletter-style2 {
	padding: 100px 15px;
	.title {
		margin-bottom: 20px;
	}

	.text {
		margin-bottom: 20px;
	}
	form {
		margin-top: 50px;
		.input-text {
			margin-right: 20px;
		}
	}
}
