/*
|--------------------------------------------------------------------------
| Borders
|--------------------------------------------------------------------------
*/
	/*
	|--------------------------------------------------------------------------
	| Lines
	|--------------------------------------------------------------------------
	*/
	$atom-borderSolid-thin:					1px solid;
	$atom-borderSolid-medium:				3px solid;
	$atom-borderSolid-thick:				5px solid;
	$atom-borderSolid-none:					none;
	/*
	|--------------------------------------------------------------------------
	| Radius
	|--------------------------------------------------------------------------
	*/
	$atom-borderRadius-circle:			50%;
	$atom-borderRadius-btnSmall:		2px;
	$atom-borderRadius-btnMedium:		22px;
	$atom-borderRadius-btnBig:			30px;
	$atom-borderRadius-input:			5px;