/*
|--------------------------------------------------------------------------
| colors
|--------------------------------------------------------------------------
*/
$atom-colorWhite:									#ffffff;
$atom-colorBlack:									#1b314e;
$atom-colorGray:									#676767;
$atom-colorGraylight:								rgba(0,0,0,0.54); // #777777;
$atom-colorGrayligther:								#aaa;

$atom-colorPrimary:									#1e443d;
$atom-colorSecundary:								#7fbbce;
$atom-colorThird:									#009045;
$atom-colorFourth:									#dfa23b;
$atom-colorWhiteandBlack:							#6b6b6b;