/*
|--------------------------------------------------------------------------
| Icons
|--------------------------------------------------------------------------
*/
$atom-iconBig: 					    100px;
$atom-iconMedium: 					50px;
$atom-iconSmall:					35px;
$atom-iconVery-small:				25px;