/*
|--------------------------------------------------------------------------
| backgrounds 
|--------------------------------------------------------------------------
*/
$atom-backgroundPrimary:										#314554;
$atom-backgroundSecundary:										#c8dde0;
$atom-backgroundThird:											#009045;
$atom-backgroundFourth:											#dfa23b;
$atom-backgroundFifth:											#23182d;
$atom-backgroundGray:											#f0f0f0;
$atom-backgroundImage:                            				url('https://media.giphy.com/media/3og0IV7MOCfnm85iRa/source.gif');
