/*
|--------------------------------------------------------------------------
| images
|--------------------------------------------------------------------------
*/
$atom-imageFullScreen:				100%;
$atom-imageBig: 					800px;
$atom-imageMedium: 					600px;
$atom-imageSmall:					300px;
$atom-imageVery-small:				180px;